@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-1: Montserrat,Helvetica,Arial,sans-serif;
$family-2: Crimson Text, Cambria, Cochin, Georgia, Times, Times New Roman, serif;
$color: #40383a;

.scroll-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  margin: 0 auto 3.5em;
  max-width: 45em;
  width: 100%;
}

.article {
  width: 100%;
  max-width: 45em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #fff;
  color: $color;
  line-height: 1.62;
  overflow: hidden;

  margin-bottom: 15px;
  padding: 1.875em 1.875em 15px;
  border: 1px solid rgba(64,56,58,.1);
}

.title-link {
  font-family: $family-1;
  color: $color;

  display: flex;
  display: inline;
  flex-wrap: wrap;

  text-decoration: none;
}

.title-link:visited {
  color: $color;
}

.article-title {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 36px;
  word-wrap: break-word;
  
  margin-bottom: 15px;
}

.source-container {
  display: flex;
  margin-bottom: 15px;
}

.article-link {
  display: flex;
  display: inline;
  flex-wrap: wrap;
  font-family: $family-1;
}

.article-link img {
  width: 100%;
  margin-bottom: 15px;
  height: 18.25em;
  object-fit: cover;
}

.article-summary {
  font-family: $family-2;
  font-size: 1.313em;
  line-height: 1.43;
  margin-bottom: 15px;
}

.article-topics {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  width: 100%;
}

.article-topic-tag {
  max-width: 330px;
  background-color: transparent;
  color: $color;
  font-size: 9px;
  font-weight: 200;
  letter-spacing: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;

  border: .5px solid rgba(64,56,58,.5);
  border-radius: 4px;
  margin-top: .5em;
  padding: .688em 1em;
}

.article-topic-tag:hover {
  color: rgba(64,56,58,.7);
  cursor: pointer;
  text-decoration: none;
}

/* Mobile-Friendly Media Query */
@media all and (max-width: 660px) {
  .scroll-container {
    width: 75%;
  }
}
