@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.footer {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  max-width: 45em;
  padding: 1.875em;
}

.footer-links {
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-size: .75em;
  font-weight: 700;
  margin-bottom: 2.5em;
}

.footer-links a {
  color: rgba(64,56,58,.7);
  display: inline-block;
  text-align: center;
  width: 70px;

  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.footer-social-media {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2.5em;
  padding: 0;
  width: 100%;
}

.footer-button {
  border: none;
  display: inline-block;
  height: 15px;
  margin: 0 15px;
  padding: 0;
  width: 15px;
}

.footer-facebook {
  background-image: url('https://www.medcircle.com/d43e49144f44da06c2e800da3001a121.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-twitter {
  background-image: url('https://www.medcircle.com/0eb7f59e04f3b2711399e5d9ad573a94.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-instagram {
  background-image: url('https://www.medcircle.com/8809b664d15477ae75c9487c74ad6590.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer h6 {
  color: rgba(64,56,58,.7);
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-size: .75em;
  font-weight: 500;
  text-transform: uppercase;
}

h6 {
  margin: 0 0 10px;
  padding: 0;
  line-height: 0.9em;
}

.footer-terms {
  color: rgba(64,56,58,.7);
  font-size: .75em;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
}

.footer p {
  color: rgba(64,56,58,.7);
  font-family: Crimson Text,Cambria,Cochin,Georgia,Times,Times New Roman,serif;
  font-size: .625em;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 10px;
  padding: 0;
}