.nav {
  height: 50px;
  width: 100%;
  background-color: #b5103a;
  position: fixed;
  z-index: 5;
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 0;
}

.inner-nav {
  margin: 0 auto;
}

.inner-nav a {
  color: #fff;
  text-decoration: none;
  padding-right: 15px;
}

.logo-container {
  height: 15px;
  display: flex;
  align-items: center;
}
