@import url('https://fonts.googleapis.com/css?family=Montserrat');

$color: #40383a;

.topics-container {
  height: 800px;
  width: 100%;
  max-width: 45em;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 70px;
}

.topics-list-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  padding: 15px;
}

.topics-list {
  margin-top: -1.38em;
  overflow: auto;
  width: 100%;
}

.topic {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(64,56,58,.1);
  padding: .538em 0;
}

.topic-link {
  color: $color;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 0;
}

.follow-button {
  background: #fff;
  color: $color;
  font-size: .769rem;
  
  height: 18px;
  padding: 0 6px;
  border: 1px solid rgba(64,56,58,.1);
  cursor: pointer;
}

.follow-button:before {
  background-image: url(https://www.medcircle.com/941035dd3c0fc98cbdc760a8414e1d35.svg);
  background-position: 0;
  background-repeat: no-repeat;

  content: "";
  padding-right: 10px;
}

.following-button {
  background: #fff;
  color: #b5103a;
  font-size: .769rem;

  height: 18px;
  padding: 0 6px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.following-button:before {
  background-image: url(https://www.medcircle.com/e91d944c2ec2ad2b8496135a02588fac.svg);
  background-position: 0;
  background-repeat: no-repeat;

  content: "";
  padding-right: 10px;
}

/* Mobile-Friendly Media Query */
@media all and (max-width: 660px) {
  .topics-container {
    width: 85%;
  }

  .topic-link {
    max-width: 18ch;
  }
}